body{
	margin: 0;
	background-color: white;
	background-image: url(https://img.freepik.com/premium-photo/simple-top-view-wood-table-creative-flat-lay-office-desk-laptop-notebooks-coffee-cup-wooden-background_35674-2688.jpg?w=2000)
}

table {
		width: 1000x;
		
}

th {
		text-align: left;
}

header {
	color: ;
	padding: 15px 15 px 0 15px;
}

header h1 {
	margin: 0;
	display: inline;
}

nav ul{
	margin: 0;
	padding: 0 0 0 15px;
	display: inline;
}

nav ul li{
	background: black;
	color: white;
	display: inline-block;
	list-style-type: none;
	padding: 5px 10px;
}

nav ul li a {
	color: white;
}